/* HOVER */
@keyframes hover {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes shadow {
  0% {
    transform: translateY(6px);
    opacity: .3;
  }
  50% {
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    transform: translateY(6px);
    opacity: .4;
  }
}
.hover {
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
}
.hover:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform opacity;
}
.hover:hover {
  transform: translateY(-19px);
  animation-name: hover;
  animation-duration: 1.8s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hover:hover:before {
  opacity: .6;
  transform: translateY(6px);
  animation-name: shadow;
  animation-duration: 1.5s;
  animation-delay: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* BASIC STYLES */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page-wrap {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}


.jenis-container {
  display: inline-block;
  width: 14%;
  height: 14%;
}

.jenis {
  display: block;
  
  padding: 5%;
  margin: 1.4em;
  padding-top: 10px;
 background: rgb(236,169,43);
background: linear-gradient(180deg, rgba(236,179,43,1) 23%, rgba(235,190,54,1) 56%, rgba(245,222,76,0.15) 97%);
  border-radius: 15%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 768px) {
.page-wrap {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.jenis-container {
  display: inline-block;
  width: 20%;
  height: 20%;
}

.jenis {
  display: block;
  
  padding: 5%;
  margin: 1em;
  padding-top: 10px;
 background: rgb(236,169,43);
background: linear-gradient(180deg, rgba(236,179,43,1) 23%, rgba(235,190,54,1) 56%, rgba(245,222,76,0.15) 97%);
  border-radius: 15%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
}
